*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back img{
    margin-top: 10px;
    margin-left: 5px;
    width: 30px;
}
.image img{
    width: 40%;
    height: 80vh;
    opacity: 80%;
    float: right;
    
}
h1{
    max-width: 600;
    font-family: "Poppins", sans-serif;
    color: rgba(0,0,0,0.7);
    margin-left: 20%;
    margin-top: -2%;
}
